    .places {
        gap: 50px;
        display: flex;
        flex-direction: column;
        padding-bottom: 66px;
    }

    @media screen and (min-width: 760px) {
        .places {
            gap: 73px;
            padding: 88px 24px 90px;
        }
    }

    @media screen and (min-width: 1024px) {
        .places {
            padding: 92px 48px;
        }
    }

    @media screen and (min-width: 1280px) {
        .places {
            padding: 92px 148px;
        }
    }