.cover__subtitle {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: inherit;
    margin: 0 auto;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .cover__subtitle {
        font-style: normal;
        font-size: 18px;
        line-height: 22px;
    }
}