.lead__title {
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    margin: 0 16px;
}

@media screen and (min-width: 768px) {
    .lead__title {
        margin: 0 24px;
        font-size: 96px;
        line-height: 100px;
    }
}

@media screen and (min-width: 1024px) {
    .lead__title {
        margin-right: 104px;
        margin-left: 104px;
    }
}

@media screen and (min-width: 1280px) {
    .lead__title {
        margin-right: 132px;
        margin-left: 132x;
    }
}