.lead__image {
    width: 100%;
    display: flex;
}

@media screen and (min-width: 1024px) {
    .lead__image {
        max-width: 930px;
        margin: 0 48px;
    }
}

@media screen and (min-width: 1024px) {
    .lead__image {
        max-width: 930px;
        margin-right: 148px;
        margin-left: 148px;
    }
}

@media screen and (min-width: 1280px) {
    .lead__image {
        max-width: 984px;
    }
}