.footer {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 64px 16px 24px;
}

@media screen and (min-width: 768px) {
    .footer {
        flex-direction: row;
        justify-content: space-between;
        padding: 88px 24px 24px;
        align-items: flex-end;
    }
}

@media screen and (min-width: 1024px) {
    .footer {
        padding: 92px 48px 24px;
    }
}